html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
	width: 100%;
}

.window {
	display: block;
	margin: 0 auto;
	padding: 16px;
	max-width: 360px;
	border-radius: 9px;
	height: 440px;
	border: 1px solid #dcdcdc;
}


#history {
	display: block;
	overflow: hidden;
	overflow-y: auto;
	height: 360px;
}

.chat_input {
	height: 48px;
}

.chat_input img {
	display: inline-block;
	margin: 14px 8px;
}

#chat {
	width: 250px;
	border: none;
	border-bottom: 1px solid #dcdcdc;
	background-color: transparent;
}

.middle {
	vertical-align: middle;
}

.right {
	float: right;
}

.left {
	float: left;
}

.user, .bot {
	font-family: 'Roboto', sans-serif;
	border-radius: 11px;
	padding: 3px;
	font-size: 15px;
	display: block;
	margin: 4px;
	vertical-align: middle;
}

.user p, .bot p {
	padding: 6px;
	margin: 0;
	display: inline-block;
	vertical-align: text-bottom;
	max-width: 90%;
}

.user {
	margin: 4px;
	float: right;
	display: inline-block;
	background: #ceedc7;
}

.bot {
	float: left;
	display: inline-block;
	background-color: #7aba7a;
}

.avatar {
	width: 18px;
	height: 18px;
	margin: 6px;
	display: inline-block;
}

.chat_block {
	display: inline-block;
	clear: both;
}

.full {
	width: 100%;
	clear: both;
}

.full::after {
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.blurb {
	color: #dcdcdc;
	border: 1px solid #dcdcdc;
	border-radius: 9px;
	margin-top: 30px;
	max-width: 360px;
	padding: 5px;
}

.blurb a:link {
	color: #dcdcdc;
}

.blurb a:hover {
	color: #999;
}

.blurb a:visited {
	color: #555;
}

.bouncer {
	width: 2px;
	height: 2px;
	display: inline-block;
	margin: 12px 1px;
	position: relative;
	background-color: #000;
}

.one {
	animation-duration: .5s;
	animation-name: bounce;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.two {
	animation-duration: .5s;
	animation-name: bounce;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: .1s;
}

.three {
	animation-duration: .5s;
	animation-name: bounce;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: .2s;
}

@keyframes bounce {
	from {
		bottom: -6px;
	}

	to {
		bottom: 0px;
	}
}